@import "reset.css";
@import "components/status-bar.css";
@import "variables.css";
@import "screens/login.css";
@import "screens/settings.css";

/* componentx*/
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/friends.css";
@import "components/user-component.css";
@import "components/badge.css";
@import "components/chat.css";
@import "components/nav-find.css";
@import "components/recommended-friends.css";
@import "components/open-chat.css";
@import "components/more.css";
@import "components/alt-screen-header.css";

html {
  background-color: black;
  display: flex;
  justify-content: center;
  height: 800;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: white;
  width: 486px;
  height: 100vh;
}

.screen-header__icons .reddot {
  position: absolute;
  left: 30px;
  bottom: 30px;
}
