#friends-display-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
  padding: 15px 0px;
  font-size: 16px;
  color: rgb(35, 35, 35);
}

#friends-display-link object {
  height: 16px;
}

#friends-display-link span {
  margin: 0px 7px 0px 5px;
}

#friends-display-link svg {
  color: #a0a0a0;
}

@keyframes hideSplashScreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

#splash-screen {
  background-color: var(--yellow);
  position: absolute;
  z-index: 3;
  height: 100vh;
  width: 486px;
  top: 0;
  font-size: 128px;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: hideSplashScreen 0.3s ease-in-out 1s forwards;
}
