.footer-box {
  display: flex;
  justify-content: space-between;
  background-color: rgb(228, 228, 228);
  padding: 20px 40px;
  position: fixed;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  border-top: 1px solid rgb(200, 200, 200);
}

.footer-box__column object {
  height: 25px;
}

.footer-box > li:nth-of-type(2) {
  position: relative;
}

.nav__link {
  position: relative;
  display: block;
}

.nav__link > .reddot {
  position: absolute;
  left: 25px;
  bottom: 25px;
}

.new-massage {
  position: absolute;
  bottom: 16px;
  left: 15px;
}
