.footer-box {
  display: flex;
  justify-content: space-between;
  background-color: rgb(228, 228, 228);
  padding: 20px 40px;
  position: fixed;
  bottom: 0;
  width: 486px;
  box-sizing: border-box;
  border-top: 1px solid rgb(200, 200, 200);
}

.footer-box__column object {
  height: 25px;
}

.footer-box > li:nth-of-type(2) {
  position: relative;
}

@keyframes appearBunAnimation {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  40% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.nav__link {
  position: relative;
  display: block;
}

.footer-box__column:nth-child(1) {
  animation: appearBunAnimation 1.2s ease-in-out;
}

.footer-box__column:nth-child(2) {
  animation: appearBunAnimation 1.2s ease-in-out 0.2s;
}

.footer-box__column:nth-child(3) {
  animation: appearBunAnimation 1.2s ease-in-out 0.4s;
}

.footer-box__column:nth-child(4) {
  animation: appearBunAnimation 1.2s ease-in-out 0.6s;
}

.nav__link > .reddot {
  position: absolute;
  left: 25px;
  bottom: 25px;
}

@keyframes notificationAnimation {
  0% {
    transform: none;
  }
  50% {
    transform: translateY(-5px) rotateY(360deg);
  }
  100% {
    transform: none;
  }
}

.new-massage {
  position: absolute;
  bottom: 14px;
  left: 14px;
  animation: notificationAnimation 2s ease-in-out infinite;
}
